body {
    background-color: #25342b;
}
body > div {
    width: 100%;
    display:  flex;
    min-height: 90vh;
    justify-content: center;
    flex-flow: column;
}
* {
    box-sizing: border-box;
    outline: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 10px;
}
body {
    font-family: Helvetica, sans-serif;
}
#message {
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin: 0;
    left: 0;
    color: white;
    transform: translateY(-40px);
    transition: transform 500ms ease;
    /* Animation would be activated from javascript */
}
/* .animateMessage {
    transform: translateY(-40px);
    transition: transform 300ms ease;
    animation: showMessage 4s alternate;
}
@keyframes showMessage {
    20% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
    }
} */
h1 {
    color: white;
    margin: 30px 0 0;
    text-align: center;
    font-size: 30px;
    font-family: 'Annie Use Your Telescope', 'helvetica';
}
.userNameInput {
    border: 0;
    padding: 10px;
    margin: 10px auto;
    width: 250px;
}
.toDoListSection {
    width: 500px;
    margin: auto;
    border: 2px solid #eee;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    background-color: white;
    min-height: 350px;
    padding-top: 20px;
    margin-top: 10px;
    padding-bottom: 40px;
    border-radius: 5px;
}
.addListSection {
    width: 90%;
    margin: 0 auto;
}
.addButton, .inputArea {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 18px;
    border: 1px solid purple;
}
.inputArea {
    width: 90%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.inputArea:hover, .inputArea:focus {
    border: 1px solid purple;
}
.addButton {
    text-align: center;
    cursor: pointer;
    background-color: greenyellow;
    opacity: .8;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: right;
    border: 0;
    font-weight: bold;
}
.addButton:hover {
    opacity: 1;
}

.listsSection {
    width: 90%;
    margin: auto;
}
.listsSection ul {
    list-style-type: none;
    padding: 0;
}
.listsSection li {
    padding: 10px;
    background-color: #eee;
    margin: 15px 0;
    border-radius: 5px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border: 1px solid #ddd;
}
.listsSection li:hover {
    background-color: #ddd;
}
.listsSection button {
    border: 0;
    background-color: transparent;
    font-weight: bold;
    color: red;
    cursor: pointer;
    font-size: 30px;;
}

footer {
    text-align: center;
    margin: 20px 0 50px;
    font-size: 15px;
    color: white;
    font-family: 'Annie Use Your Telescope', 'helvetica';
}
footer a, footer span {
    color: orange;
}
footer span {
    font-size: 15px;
}

@media only screen and (max-width: 500px) {
    .toDoListSection {
        width: 95%;
    }
    .inputArea {
        width: 87%;
    }
}